
{% load static %}


{% block content %}

<style>
  table{
    margin-left: 25%;
    display: block;
  }
  
  @media(max-width:500px){
    table{
  margin-left: 0%;
    }
}

@media(max-width:700px){
    table{
  margin-left: 0%;
    }
}

</style>

<h1 style="text-align: center;font-weight: bolder;font-family: Georgia, 'Times New Roman', Times, serif;color: green;">
  ADD POST</h1><br>
<tr>
  <td>
    <label for="exampleFormControlInput1" class="lable d-inline m-3">TITLE</label>
  </td>
  <td>
    <input type="text" class="form-control  format d-inline" id="exampleFormControlInput1" placeholder=""  name="p_name">
  </td>
</tr>

<tr>

  <td>
    <label for="exampleFormControlInput1" class="lable d-inline m-3">POST No</label>
  </td>
  <td>
    <input type="text" class="form-control   format d-inline" id="exampleFormControlInput1" placeholder="" name="p_no" id="p_no">
  </td>
</tr>

<tr>
  <td>
    <label for="exampleFormControlTextarea1" class="lable d-inline m-3">POST DESCRIPTION</label>

  </td>
  <td>
    <textarea class="form-control format  d-inline" style="vertical-align: middle;" id="exampleFormControlTextarea1"
      rows="3" name="p_description"></textarea>

  </td>
</tr>
<tr>
  <td>
    <label for="exampleFormControlInput1" class="lable d-inline m-3">AUTHOR</label>

  </td>
  <td>
    <input type="text" class="form-control   format d-inline " id="exampleFormControlInput1" placeholder="" name="p_price">

  </td>
</tr>


<tr>
  <td colspan="2" align="left">
    <span><h1 style="color:green">{{status}}</h1></span>
    <button type="submit" class="btn btn-danger w-50 ml-4"
      style="position: relative;left:100px;top:20px;width: 100px">Add</button>

  </td>
</tr>
</table>
</form>






{% endblock %}